<div class="eqLogic eqLogic-widget allowResize allowReorder #eqType#" data-version="#version#" style="height:#height#;width:#width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"  data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
  
    <link rel="stylesheet" href="/plugins/WebOStvLG/core/template/dashboard/css/styles.css" />	
  
	<center class="widget-name">
		<span class="state"></span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
  
	<div style="display:inline-block; padding:10px;text-align: center;">
		<div style="margin: 10px auto;"></div>
      
		<div class="horizontal-buttons">
      #group_base#
    </div>
      
		<div class="horizontal-buttons">
      #group_inputs#
    </div>
      
    <div class="horizontal-buttons">
			#group_medias#
    </div>
      
		<div class="horizontal-buttons">
      #group_channels#
    </div>      
      
    <div class="horizontal-buttons">
			#group_apps#
		</div>
      
    <div >
      #group_remote#
    </div>  
       
	</div>	
</div>
 

<script>
  (function() {
  console.log('⏳ Attente du widget LG WebOS...');

  const waitForWidget = setInterval(function() {
    const widget = $('.lg-remote-widget, .WebOStvLG');
    if (widget.length && widget.find('.cmd_webosTv').length) {
      clearInterval(waitForWidget);
      console.log('⚙️ WebOStvLG JS initialisé ✅');
      initRemote(widget);
    }
  }, 500);

  function initRemote(widget) {
    
    const ensureContainer = (cls, position) => {
      let div = widget.find('.' + cls);
      if (div.length === 0) {
        div = $('<div class="' + cls + '"></div>');
        if (position === 'top') widget.prepend(div);
        else widget.append(div);
        console.log(`✅ Conteneur .${cls} créé`);
      }
      return div;
    };

    const navPad    = ensureContainer('nav-pad');
    const headerPad = ensureContainer('header-pad');
    const extraKeys = ensureContainer('extra-keys');
    const colorPad  = ensureContainer('colors');
    const navNames = ['haut', 'bas', 'gauche', 'droite', 'ok'];
    const colorNames = ['bleu', 'rouge', 'vert', 'jaune'];
    const headerNames = ['accueil', 'retour'];
    const extraNames = ['volume+', 'volume-', 'channel+', 'channel-'];
    const groupVolume = $('<div class="group-volume"></div>');
    const groupChannel = $('<div class="group-channel"></div>');

    extraKeys.append(groupVolume, groupChannel);

    widget.find('.cmd_webosTv').each(function() {
      const $btn = $(this);
      const classes = ($btn.attr('class') || '').split(' ');
      const lname = classes.find(c =>
        [...navNames, ...colorNames, ...headerNames, ...extraNames]
          .includes(c.toLowerCase())
      );
      if (!lname) return;

      const name = lname.toLowerCase();

      if (navNames.includes(name)) {
        $btn.appendTo(navPad);
        switch (name) {
          case 'haut':   $btn.css('grid-area', '1 / 2'); break;
          case 'bas':    $btn.css('grid-area', '3 / 2'); break;
          case 'gauche': $btn.css('grid-area', '2 / 1'); break;
          case 'droite': $btn.css('grid-area', '2 / 3'); break;
          case 'ok':     $btn.addClass('ok').css('grid-area', '2 / 2'); break;
        }
        console.log('🎯 Bouton nav déplacé :', name);
      }
      else if (colorNames.includes(name)) {
        $btn.appendTo(colorPad).addClass(name);
        console.log('🎨 Bouton couleur déplacé :', name);
      }
      else if (headerNames.includes(name)) {
        $btn.appendTo(headerPad);
        console.log('🔝 Bouton header déplacé :', name);
      }
      else if (extraNames.includes(name)) {
        
        if (name === 'volume+' || name === 'volume-') {
          $btn.appendTo(groupVolume);
        }
        
        if (name === 'channel+' || name === 'channel-') {
          $btn.appendTo(groupChannel);
        }
        console.log('🔊 Bouton extra déplacé :', name);
      }
    });
    
    if (groupChannel.find('.label-p').length === 0) {
      const labelP = $('<div class="label-p"></div>');
      groupChannel.children().first().after(labelP);
    }

    if (groupVolume.find('.label-v').length === 0) {
      const labelP = $('<div class="label-v"></div>');
      groupVolume.children().first().after(labelP);
    }
    
    console.log('✅ Réorganisation complète terminée');
  }
})();




      $(function() {
			$('.WebOStvLG .cmd').on('click', function() {
				var el = $('.WebOStvLG[data-eqLogic_uid=#uid#] .statusCmd');
				//console.log(el)
				el.empty().append('<i class="fas fa-sync fa-spin"></i>');					
				jeedom.cmd.execute({id: $(this).data('cmd_id')});
				el.empty();
			});
		
			$('.WebOStvLG button').children('i').addClass('fa-2x');
			if ('#state#' == 1 || '#state#' == 'Active') {
				$('.eqLogic[data-eqLogic_uid="#uid#"] .state').append('<i class="fas fa-check-circle" style="color:#18ec0e" title="TV Allumé" ></i>');
			} else {
				$('.eqLogic[data-eqLogic_uid="#uid#"] .state').append('<i class="fas fa-times-circle" style="color:#c00808" title="TV éteinte"></i>');	
			}		  
		});

function modal_url_tv(button) {
  var cmdId = $(button).data('cmd_id');

  var dialog = `
    <div class="jeeDialog jeeDialogPrompt" style="height:auto; top:20vh;">
      <div class="jeeDialogTitle">
        <span class="title">Mettre un lien web sur la TV</span>
        <button class="btClose" type="button" onclick="$(this).closest('.jeeDialog').remove();"></button>
      </div>
      <div class="jeeDialogContent">
        <input type="text" class="promptAttr" placeholder="Entrez l’URL">
      </div>
      <div class="jeeDialogFooter">
        <button type="button" class="button warning" onclick="$(this).closest('.jeeDialog').remove();">
          <i class="fa fa-times"></i> Annuler
        </button>
        <button type="button" class="button success" onclick="sendMessage(this, '${cmdId}')">
          <i class="fa fa-check"></i> OK
        </button>
      </div>
    </div>
  `;
  $('body').append(dialog);
}

function modal_notif(button) {
  var cmdId = $(button).data('cmd_id');

  var dialog = `
    <div class="jeeDialog jeeDialogPrompt" style="height:auto; top:20vh;">
      <div class="jeeDialogTitle">
        <span class="title">Notification</span>
        <button class="btClose" type="button" onclick="$(this).closest('.jeeDialog').remove();"></button>
      </div>
      <div class="jeeDialogContent">
        <input type="text" class="promptAttr" placeholder="ecrire votre message">
      </div>
      <div class="jeeDialogFooter">
        <button type="button" class="button warning" onclick="$(this).closest('.jeeDialog').remove();">
          <i class="fa fa-times"></i> Annuler
        </button>
        <button type="button" class="button success" onclick="sendMessage(this, '${cmdId}')">
          <i class="fa fa-check"></i> OK
        </button>
      </div>
    </div>
  `;
  $('body').append(dialog);
}

function sendMessage(el, cmdId) {
  var message = $(el).closest('.jeeDialog').find('.promptAttr').val();
  $(el).closest('.jeeDialog').remove();

  if (message.trim() !== '') {
    jeedom.cmd.execute({
      id: cmdId,
      value: { message: message }
    });
  }
}
</script>
