<div class="eqLogic eqLogic-widget jeeDialog jeeDialogPrompt" data-version="dashboard" style="height:#height#; width:#width#; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; padding:0px;" data-eqLogic_id="#id#" class="WebOStvLG" >
	<style  type="text/css">
	  .WebOStvLG .cmd a {
		width: 40px;
		height: 20px;
		font-size: 0.8em;
	  }
	</style>
	<center class="widget-name">
        <span class="reportModeHidden"><a href="#eqLink#">#name#</a></span>
    </center>
	<div style="display:inline-block; padding:10px;text-align: center;">
		<div style="margin: 10px auto;">
		</div>
		<div style="display: inline-block">
            #group_base#
        </div>
		<div style="display: inline-block">
            #group_inputs#
        </div>
        <div style="display: inline-table">
			#group_medias#
        </div>
		<div style="display: inline-block">
            #group_channels#
        </div>        
        <div style="display: inline-block">
			#group_apps#
		</div>
         <div style="display: inline-block">
            #group_remote#
         </div>         
        <div style="display: inline-table">
            
			
        </div>        
	</div>	
    <script>
        $(function() {
          $('.cmd').on('click', function() {
              jeedom.cmd.execute({id: $(this).data('cmd_id')});
          });
        });
    </script>
</div>

