<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #eqType#" data-version="#version#" style="height:#height#;width:#width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#"  data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
  
    <link rel="stylesheet" href="plugins/WebOStvLG/core/template/dashboard/css/style.css" />	
  
	<center class="widget-name">
		<span class="state"></span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
  
	<div style="display:inline-block; padding:10px;text-align: center;">
		<div style="margin: 10px auto;"></div>
      
		<div style="display: inline-block">
            #group_base#
        </div>
      
		<div style="display: inline-block">
            #group_inputs#
        </div>
      
        <div style="display: inline-table">
			#group_medias#
        </div>
      
		<div style="display: inline-block">
            #group_channels#
        </div>      
      
        <div style="display: inline-block">
			#group_apps#
		</div>
      
         <div style="display: inline-block">
            #group_remote#
         </div>  
      
        <div style="display: inline-table"></div>        
	</div>	
</div>
 

<script>
      $(function() {
			$('.WebOStvLG .cmd').on('click', function() {
				var el = $('.WebOStvLG[data-eqLogic_uid=#uid#] .statusCmd');
				//console.log(el)
				el.empty().append('<i class="fas fa-sync fa-spin"></i>');					
				jeedom.cmd.execute({id: $(this).data('cmd_id')});
				el.empty();
			});
		
			$('.WebOStvLG button').children('i').addClass('fa-2x');
			if ('#state#' == 1 || '#state#' == 'Active') {
				$('.eqLogic[data-eqLogic_uid="#uid#"] .state').append('<i class="fas fa-check-circle" style="color:#18ec0e" title="TV Allumé" ></i>');
			} else {
				$('.eqLogic[data-eqLogic_uid="#uid#"] .state').append('<i class="fas fa-times-circle" style="color:#c00808" title="TV éteinte"></i>');	
			}		  
		});

function modal_url_tv(button) {
  var cmdId = $(button).data('cmd_id');

  var dialog = `
    <div class="jeeDialog jeeDialogPrompt" style="height:auto; top:20vh;">
      <div class="jeeDialogTitle">
        <span class="title">Mettre un lien web sur la TV</span>
        <button class="btClose" type="button" onclick="$(this).closest('.jeeDialog').remove();"></button>
      </div>
      <div class="jeeDialogContent">
        <input type="text" class="promptAttr" placeholder="Entrez l’URL">
      </div>
      <div class="jeeDialogFooter">
        <button type="button" class="button warning" onclick="$(this).closest('.jeeDialog').remove();">
          <i class="fa fa-times"></i> Annuler
        </button>
        <button type="button" class="button success" onclick="sendMessage(this, '${cmdId}')">
          <i class="fa fa-check"></i> OK
        </button>
      </div>
    </div>
  `;
  $('body').append(dialog);
}

function modal_notif(button) {
  var cmdId = $(button).data('cmd_id');

  var dialog = `
    <div class="jeeDialog jeeDialogPrompt" style="height:auto; top:20vh;">
      <div class="jeeDialogTitle">
        <span class="title">Notification</span>
        <button class="btClose" type="button" onclick="$(this).closest('.jeeDialog').remove();"></button>
      </div>
      <div class="jeeDialogContent">
        <input type="text" class="promptAttr" placeholder="ecrire votre message">
      </div>
      <div class="jeeDialogFooter">
        <button type="button" class="button warning" onclick="$(this).closest('.jeeDialog').remove();">
          <i class="fa fa-times"></i> Annuler
        </button>
        <button type="button" class="button success" onclick="sendMessage(this, '${cmdId}')">
          <i class="fa fa-check"></i> OK
        </button>
      </div>
    </div>
  `;
  $('body').append(dialog);
}

function sendMessage(el, cmdId) {
  var message = $(el).closest('.jeeDialog').find('.promptAttr').val();
  $(el).closest('.jeeDialog').remove();

  if (message.trim() !== '') {
    jeedom.cmd.execute({
      id: cmdId,
      value: { message: message }
    });
  }
}
</script>
