<div class="lg-remote-widget">
<button class='cmd cmd_webosTv' data-type='action' data-subtype='other' data-cmd_id='#id#'>#dashicon#</button>
</div>

<!--div class="lg-remote-widget">
  
  <-- Pavé directionnel -->
  <!--div class="nav-pad">
    <div></div>
    <button class="cmd cmd_webosTv" data-type="action" data-subtype="other" data-cmd_id="ID_HAUT">
      <i class="fas fa-arrow-up"></i>
    </button>
    <div></div>
    
    <button class="cmd cmd_webosTv" data-type="action" data-subtype="other" data-cmd_id="ID_GAUCHE">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button class="cmd cmd_webosTv ok" data-type="action" data-subtype="other" data-cmd_id="ID_OK">
      OK
    </button>
    <button class="cmd cmd_webosTv" data-type="action" data-subtype="other" data-cmd_id="ID_DROITE">
      <i class="fas fa-arrow-right"></i>
    </button>
    
    <div></div>
    <button class="cmd cmd_webosTv" data-type="action" data-subtype="other" data-cmd_id="ID_BAS">
      <i class="fas fa-arrow-down"></i>
    </button>
    <div></div>
  </div>
  
  <-- Boutons couleurs -->
  <!--div class="colors">
    <button class="cmd cmd_webosTv blue" data-type="action" data-subtype="other" data-cmd_id="ID_BLEU">Bleu</button>
    <button class="cmd cmd_webosTv green" data-type="action" data-subtype="other" data-cmd_id="ID_VERT">Vert</button>
    <button class="cmd cmd_webosTv yellow" data-type="action" data-subtype="other" data-cmd_id="ID_JAUNE">Jaune</button>
    <button class="cmd cmd_webosTv red" data-type="action" data-subtype="other" data-cmd_id="ID_ROUGE">Rouge</button>
  </div>

</div-->